<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title fw-bolder">The Art of Memes in Feminist Digital Culture</h5>
    <br />
    <a href="https://ohiostatepress.org/books/titles/9780814214954.html" target="_blank"><img src="{{ '/assets/img/art-of-memes.jpg' | relative_url }}" class="img-fluid mx-auto d-block" alt="The Art of Memes in Feminist Digital Culture" /></a>
    <br />
    <p class="card-text">In <em>The Art of Memes in Feminist Digital Culture</em>, Shana MacDonald argues that memes are a unique medium of communication that both respond to and reflect the current cultural moment. The book—the first to treat memes as a unique medium of communication distinct from other internet and digital media—examines feminist and queer activist uses of memes as a form of digital resistance, demonstrating through collage, reenactment, and montage that countercultural meme makers intervene in the status quo and offer cultural critiques with potentially broad circulation. In this way, MacDonald situates memes as part of a lineage of aesthetic resistance, exploring the operational logic of bricolage, intertextuality, and intermediality within contemporary internet meme cultures on the left.</p>
    {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}
    {% if about > 0 %}<a class="btn btn-outline-primary" href="https://ohiostatepress.org/books/titles/9780814214954.html" target="_blank">Learn More &raquo;</a>{% endif %}
  </div>
</div>
